.cabeçalho-moda {
background-color: #bb86fc;
color: #ffffff;
}

.cabeçalho-casa {
    background-color: #00c4b4;
    color: #ffffff;
}

.valores-tabela {
    background-color: #424250;
    color: #ffffff;
}